/android/*.iml
/android/.gradle/*
/android/local.properties
/android/.idea/*
/android/.idea/workspace.xml
/android/.idea/modules.xml
/android/.idea/libraries
/android/.DS_Store
/android/build
/android/app/release
/android/captures
/android/.externalNativeBuild
/android/robo-test-scripts

*.iml
.gradle
/local.properties
.idea
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
